.main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-left: 120px;
  position: relative;
  z-index: 0;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
}

.card {
  max-width: 25%;
  min-width: 260px;
}

.popup {
  width: 100%;
  position: fixed;
  z-index: 100;
}

.order-popup {
  width: 100%;
  margin: 0 35%;
}

.login-popup {
    top: 60px;
    position: fixed;
    right: 0;
}

.card-title{
  height: 100px;
}
.card-text {
  display: block;
}

.img-card {
  height: 204px;
}

.navbar-nav {
  flex-direction: row;
  -ms-flex-direction: row;
}

.dropdown-menu {
  left: 100%;
  top: 0;
}

.btn-group.dropright {
  float: left;
  position: fixed;
  top: 0;
  margin-top: 60px;
  z-index: 100;
}
