.main {
  display: flex;
  flex-wrap: wrap;
}

.card {
  max-width: 25%;
  min-width: 260px;
}

.card-title{
  height: 100px;
}

.img-card {
  height: 204px;
}

.dropdown-menu {
  left: 100%;
  top: 0;
}
